appdirs==1.4.3
boto3==1.4.4
botocore==1.5.67
click==6.7
docutils==0.13.1
Flask==0.12
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.5
jmespath==0.9.3
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
python-magic==0.4.13
s3transfer==0.1.10
six==1.10.0
transcriber-qualification==0.0.0
Werkzeug==0.12.1
WTForms==2.1
