<h1 class="text-center">Update User</h1>
<form action="/users" method="PUT" id="update-user-form">
	<div class="form-group">
		<label for="user_id">User ID</label>
		<input type="text" id="user_id" name="user_id" class="form-control" placeholder="MTurk ID">
	</div>
	<div class="form-group">
		<button id="fetch-user-button" type="button" class="btn btn-primary btn-lg">Fetch User</button>
	</div>
	<div class="form-group">
		<label for="rights">Roles</label>
		<div class="checkbox">
			<label><input type="checkbox" id="admin" name="admin">Admin</span></label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" class="checkbox" id="transcriber" name="transcriber">Transcriber</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" class="checkbox" id="voicer" name="voicer">Voicer</label>
		</div>
	</div>
	<div class="form-group">
		<label for="name">Full Name</label>
		<input type="text" name="name" id="name" class="form-control" placeholder="Full Name">
	</div>
	<div class="form-group">
		<label for="email">Email Address</label>
		<input type="email" name="email" id="email" class="form-control" placeholder="Email Address">
	</div>
	<button type="submit" class="btn btn-success btn-block">Update User</button>
</form>