<h2>Transcriptions</h2>
<table class="table table-striped">
	<thead>
		<th>S.No.</th>
		<th>Prompt</th>
		<th>Recording</th>
		<th>Transcription</th>
	</thead>
	<tbody></tbody>
</table>
<h2>Recordings</h2>
<table class="table table-striped">
	<thead>
		<th>S. No. </th>
		<th>Student Id</th>
		<th>Prompt Id</th>
		<th>Listen</th>
	</thead>
</table>
<h2>Prompts</h2>
<table class="table table-striped" id='prompts'>
	<thead>
		<th>S. No.</th>
		<th>Id</th>
		<th>Content</th>
	</thead>
	<tbody>
		
	</tbody>
</table>