{% extends "base.html" %}

{% block content %}
<h2>Recording HIT</h2>
<div class="row">
	<h3 class="text-center">Convert existing prompt to HIT</h3>
	<div class="col-md-6 col-md-offset-3">
		<div class="form-group">
			<select class="combobox form-control" id="prompt-combobox">
				<option value="" disabled>Select Prompt</option>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-small btn-success" id="convert-prompt-button">Convert</button>
		</div>
	</div>
</div>
<div class='row'>
	<h3 class='text-center'>Add Prompt</h3>
	<div class="col-md-6 col-md-offset-3">
		<h4>Instructions</h4>
		<ul>
			<li>Enter words separated by single spaces.</li> 
			<li>Denote alternate spellings by using a forward slash <code>/</code> without spaces.</li> 
			<li>All punctuation will be ignored as spaces except for apostrophes <code>'</code></li>
		</ul>
		<form action='/hit/prompts' method='POST'>
			<div class='form-group'>
				<label for='prompt'>
				Enter Prompt
				</label>
				<input type="text" name="prompt" id='prompt' class='form-control' placeholder="Prompt">
			</div>
			<button type='submit' class='btn btn-primary btn-block'>Add Prompt</button>
		</form>
	</div>
</div>
<div class="row">
	<h3 class="text-center">HIT prompt list</h3>
	<table class="table table-striped" id="prompts">
		<thead>
			<th>S. No.</th>
			<th>Content</th>
		</thead>
		<tbody></tbody>
	</table>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src='/static/js/bootstrap-combobox.js'></script>
<script type="text/javascript" src="/js/hit/management/prompt.js"></script>
{% endblock %}